/** error.css **/
/*  ____________________________
 / \                            \
|   |                           |
 \_ |                           |
    |       How to create       |
    |       a domain name       |
    |       on cloudflare       |
    |                           |
    |  _________________________|__
    |  \                           \
    |  /                           /
    \_/__________________________ /
*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.errorTitle {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 8rem;
}

.errorMsg {
}

.titleDate {
  font-size: 0.75rem;
  margin-top: 2rem;
}
